{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
{% csrf_token %}
<body>
    <div class="container" align="center">
        <h1>Detector</h1>
        <input type="file" name="" id="image_input"><br>
        <canvas width="640" height="360"></canvas><br>
        <table>
            <tr>
                <td>
                    <textarea name="" id="output" cols="60" rows="1" placeholder="labels"></textarea>
                </td>
                <td>
                    <button class="btn btn-primary" id="detect">Detect</button>     
                </td>
                <td>
                    <button class="btn btn-primary" id="reset">Reset</button>
                </td>
                <td>
                    <form action="" method="get">
                        <button class="btn btn-primary" id="home" formaction="/">Home</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script src="{% static 'infer_det.js' %}"></script>
</body>
</html>