body{
    background-color: black;
}

h1{
    color: goldenrod;
    margin: auto;
    margin-top: 20px;
}

#index_form{
    margin: auto;
    margin-top: 50px;
}

#image_input{
    margin: auto;
    margin-top: 15px;
    background-color: lightgrey;
}

canvas{
    background-color: lightgrey;
    margin: auto;
    margin-top: 15px;
}

table{
    margin: auto;
    margin-top: 15px;
}

#home{
    background-color: green;
    border: 2px solid green;
}

#reset{
    background-color: orange;
    border: 2px solid orange;
}
