{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
    <div class="container" align="center">
        <h1>Django Torchvision Web App</h1>
        <form action="" method="get" id="index_form">
            <button class="btn btn-primary" formaction="classify/">Classify</button>
            <button class="btn btn-primary" formaction="detect/">Detect</button>
            <button class="btn btn-primary" formaction="segment/">Segment</button>
        </form>
    </div>
</body>
</html>